{% load static %}
<!doctype html>
<html lang="en">

  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


	<!--CSS-->
	<link type="text/css" rel="stylesheet" href="{% static 'ng/ng.css' %}"/>

	<!--JQuery-->
  <!--<script src="{% static 'ng/jquery-3.2.1.min.js' %}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'ng/js.cookie.js' %}"></script>
     <!--<script src="{% static 'ng/change_lang.js' %}"></script>-->
<script src="{% static 'ng/script.js' %}"></script>

  <script type="text/javascript">
      {% if experiment %}
      var url_continue = "{% url 'ng:continue' experiment.xp_uuid %}";
      var url_results_inner_base = "{% url 'ng:results_inner_base' experiment.xp_uuid %}";
      var url_results_hearer_base = "{% url 'ng:results_hearer_base' experiment.xp_uuid %}";
      var url_results_speaker_base = "{% url 'ng:results_speaker_base' experiment.xp_uuid %}";
      {% endif %}
  </script>
  <!--<script type="text/javascript" src="{% static 'ng/ng.js' %}">
  <script src="{% static 'ng/change_lang.js' %}"></script>-->


	<title>Naming Game</title>
  </head>



  <body>

	<div class="row">
		<div class="col-lg-2">
			<!--Menu-->
			<div class="menu" style="margin-right: auto; margin-left:auto; width:60%; max-width: 160px">
				<!-- Ajouter les liens pour rendre fonctionnel -->
				<span class="glyphicon glyphicon-info-sign icon" id="info"></span>
				<span class="glyphicon glyphicon-volume-off icon" id="sound-off"></span>
				<span class="glyphicon glyphicon-volume-up icon" id="sound-on"></span>
				<span class="glyphicon glyphicon-home icon" id="home"></span>
			</div>
		</div>

		<div class="col-lg-2 col-md-push-8">
			<!--Historique-->
			<div class="menu" id="menu-h">
				<!--https://cdn.pixabay.com/photo/2013/07/12/13/46/clock-147257_960_720.png-->
				<img src="{% static  '/img/history.png' %}" class="img-responsive" id="historique"></span>
				<h1 style="padding:2px; margin:0px;" id="history-name">Historique</h1>
			</div>
		</div>

		<div class="col-lg-8 col-md-pull-2">
			<!--Titre + compteur-->
			<div class="progress" id="compteur"><div class="progress-bar" role="progressbar" aria-valuenow="{{ experiment.interaction_counter |add:1 }}" aria-valuemin="0" aria-valuemax="{{ experiment.max_interaction }}" id="bar">
			</div></div>
			<h1 class="pagetitle" id="conversations"> Conversation {{ experiment.interaction_counter |add:1 }} / {{ experiment.max_interaction }}  </h1>
		</div>

	</div>


	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<!--Hearer/Speaker-->
      {% if role == "hearer" and context == "question" %}
			<!--https://cdn.pixabay.com/photo/2017/11/23/14/03/ear-2972890_960_720.png-->
			<div class="annonce hearer" id="anhearer" style = "display : block; visibility : visible"><p>On vous parle ! </p><img src="{% static 'ng/img/logo_hearer_temp.png' %}" class="logo" id="oreille"></div>
      {% elif role == "speaker" and context == "question" %}
      <!--https://cdn.pixabay.com/photo/2012/04/18/22/40/microphone-38120_960_720.png-->
			<div class="annonce speaker" id="anspeaker" style = "display : block; visibility : visible"><p>C'est à vous de parler ! </p><img src="{% static 'ng/img/logo_speaker_temp.png' %}" class="img-responsive logo" id="bouche"></div>
      {% elif context == "skipped" %}
    	<!--https://cdn.pixabay.com/photo/2013/07/12/19/33/panda-154984_960_720.png-->
			<div class="annonce abs" id="anabs" style = "display : block; visibility : visible"><p> {{nb_skipped}} conversations ont eu lieu en votre absence ! </p><img src="{% static 'ng/img/logo_abs_temp.png' %}" class="img-responsive logo"></div>
    {% endif %}
    </div>
		<div class="col-xs-3"></div>
	</div>

	<div class="row" id="avatars-char">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 visible-sm visible-md visible-lg"></div>
		<!--Avatars-->
		<div class="col-xs-6 col-sm-6 col-md-1">
			<div id="you">
				<img src="{% static 'ng/img/avatar_player_default.jpg' %}" class="small-avatar">
				<div class="txt-avatars" id="text_youravatar"> <p> C'est vous ! </p></div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-1 col-sm-push-4">
			<div id="others">
				<!--https://cdn.pixabay.com/photo/2015/03/12/11/30/vintage-670006_960_720.png-->
				<img src="{% static 'ng/img/radio.png' %}" class="small-avatar">
				<div class="txt-avatars" id="text_others"><p> ?/3 </p></div>
			</div>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-1 col-md-pull-1">
      {% if context == "question" and role == "speaker" %}
			<img src="{% static 'ng/img/logo_speaker_temp.png' %}" class="logo" style="margin : 40px auto 20px" id="role_player">
      {% elif context == "question" and role == "hearer" %}
      <img src="{% static 'ng/img/logo_hearer_temp.png' %}" class="logo" style="margin : 40px auto 20px" id="role_player">
      {% endif %}
		</div>

		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 visible-sm visible-md visible-lg col-md-pull-1"></div>

		<div class="col-xs-6 col-sm-6 col-md-1 col-md-pull-1 ">
      {% if context == "question" and role == "speaker" %}
      <img src="{% static 'ng/img/logo_hearer_temp.png' %}" class="logo" style="margin : 40px auto 20px" id="role_others">
      {% elif context == "question" and role == "hearer" %}
      <img src="{% static 'ng/img/logo_speaker_temp.png' %}" class="logo" style="margin : 40px auto 20px" id="role_others">
      {% endif %}
		</div>

		<div class="col-xs-3 visible-sm  visible-md visible-lg"></div>
	</div>

	<div class="row" id="topic-choice">

		<!--Bubble Feedback-->
		<div class="col-xs-6 col-sm-6 col-lg-3">
			<div class="bubble bubble-f" id="you-word" {% if context != "question" or role == "hearer" %} style= "float:left; visibility : hidden;" {% else %} style= "float:left" {% endif %} ><p class="word" id="word1">
        {% if context == "question" and role == "speaker" %}
                ...
        {% elif context == "result" and role == "speaker" %}
                {{experiment.last_w}}
        {% endif %}
      </p></div>
			<div class="bubble bubble-f thought" id="you-meaning"  {% if context != "question" %} style= "float:left; visibility : hidden;" {% else %} style= "float:left" {% endif %}>
      {% if context == "result" and role == "speaker" %}
        <img id="meaning_{{ experiment.last_ms}}" class="img-responsive meaning" src="{% static 'ng/img/' %}kreyon_meaning{{ m.meaning }}.png" meaning_name="{{ m.meaning }}">
        {% elif context == "result" and role == "hearer" %}
        <img id="meaning_{{ experiment.last_mh}}" class="img-responsive meaning" src="{% static 'ng/img/' %}kreyon_meaning{{ m.meaning }}.png" meaning_name="{{ m.meaning }}">
      {% endif %}
      </div>
    </div>

		<!--Bubble Feedback-->
		<div class="col-xs-6 col-sm-6 col-lg-3 col-md-push-6 ">
			<div class="bubble bubble-f" id="other-word"  {% if context != "question" or role == "speaker" %} style= "float:left; visibility : hidden;" {% else %} style= "float:left" {% endif %}><p class="word" id="word2">
        {% if role == "hearer" %}
          {{word}}
        {% endif %}
      </p></div>
			<div class="bubble bubble-f thought" id="other-meaning"  {% if context != "result" %} style= "float:left; visibility : hidden;" {% else %} style= "float:left" {% endif %}>
        {% if context == "result" and role == "speaker" %}
          <img id="meaning_{{ experiment.last_mh}}" class="img-responsive meaning" src="{% static 'ng/img/' %}kreyon_meaning{{ m.meaning }}.png" meaning_name="{{ m.meaning }}">
          {% elif context == "result" and role == "hearer" %}
          <img id="meaning_{{ experiment.last_ms}}" class="img-responsive meaning" src="{% static 'ng/img/' %}kreyon_meaning{{ m.meaning }}.png" meaning_name="{{ m.meaning }}">
        {% endif %}
      </div>
		</div>

		<div class="col-lg-6 col-md-pull-3">
			<!--Bubble Menu-->
			<div id="choice">
				<!--Consignes-->

        {% if role == "hearer" %}
				<div class="hearer expl">
					<h1 class="explanation" id="hearer-expl">De quoi vous parle-t-on ?</h1>
				</div>
        {% elif role == "speaker" %}
				<div class="speaker expl" id="speaker-expl">
					<h1 class="explanation">De quoi voulez-vous parler ?</h1>
				</div>
        {% endif %}
				<!--Meanings-->
				<div class="meanings" id="meaning_inner">
				<!--	<label class="mradio">
						<input type="radio" name="m" id="m0" value="m0"/>-->
						<!--<img src="../static/img/meaning_temp.png" class="img-responsive m">-->
					<!--	</label>

					<label class="mradio">
						<input type="radio" name="m" id="m1" value="m1"/>-->
						<!--<img src="../static/img/meaning_temp.png" class="img-responsive m">-->
					<!--	</label>

					<label class="mradio">
						<input type="radio" name="m" id="m2" value="m2"/>-->
					<!--<img src="../static/img/meaning_temp.png" class="img-responsive m">-->
					<!--	</label>

					<label class="mradio">
						<input type="radio" name="m" id="m3" value="m3"/>-->
					<!--<img src="../static/img/meaning_temp.png" class="img-responsive m">-->
					<!--	</label>

					<label class="mradio">
						<input type="radio" name="m" id="m4" value="m4"/>-->
					<!--<img src="../static/img/meaning_temp.png" class="img-responsive m">-->
      	<!--  </label>-->

          {% for m in experiment.meanings.all %}
            {% if context == "skipped"%}
          <label class="mradio"  style = "visibility : hidden;" >
            {% elif context == "result" %}
            <label class="mradio"  style = "display:none" >
            {% else %}
          <label class="mradio"  style = "visibility : visible; " >
            {% endif %}
            <input type="radio" name="m" id="m{{ m.meaning }}" value="m{{ m.meaning }}" />
            <img id="meaning_{{ m.meaning }}" class="img-responsive m meaning_img" src="{% static 'ng/img/' %}kreyon_meaning{{ m.meaning }}.png" meaning_name="{{ m.meaning }}">
          </label>
          {% endfor %}
          <!--Regarde si c'est la première fois que l'utilisateur voit ce mot. DOUTE SYNTAXE-->
          {% if context == "question" and role == "hearer" and last_w not in experiment.pastinteraction_set.all%}
					<label class="mradio" id="dont_know">
						<input type="radio" name="m" id="none" value="none"/>
						<img src="{% static 'ng/img/kreyon_meaningnone.png'%}" class="img-responsive m meaning_img">
		      </label>
          {% endif %}
					<!--Séparateur-->
          {% if context == "question" %}
					<div class="separator_h"></div>
          {% endif %}
				</div>



				<!--Words-->

				<div class="speaker-words"  id= "word_inner" style= "visibility : hidden;" >
        {% if context == "question" and role == "speaker" %}
					<h1 class="explanation" id="choice_words"> Quel mot voulez-vous utiliser ?</h1>
        {% endif %}

        {% for w in experiment.words.all %}
					<label class="wradio">
						<input type="radio" name="w" id="word_{{ w.word }}" word_name="{{ w.word }}" class="word_text_speaker"/>
						<div class="w">{{ w.word }}</div>
					</label>
        {% endfor %}

				<!--	<label class="wradio">
						<input type="radio" name="w" id="w1" value="w1"/>
						<div class="w">W1</div>
					</label>

					<label class="wradio">
						<input type="radio" name="w" id="w2" value="w2"/>
						<div class="w">W2</div>
					</label>

					<label class="wradio">
						<input type="radio" name="w" id="w3" value="w3"/>
						<div class="w">W3</div>
					</label>

					<label class="wradio">
						<input type="radio" name="w" id="w4" value="w4"/>
						<div class="w">W4</div>
					</label>

					<label class="wradio">
						<input type="radio" name="w" id="w5" value="w5"/>
						<div class="w">W5</div>
					</label> -->

					<!--Séparateur-->
					<div class="separator"></div>

				</div>


				<!--Smiley feedback
https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635451_960_720.png
https://cdn.pixabay.com/photo/2013/07/12/13/51/thinking-147447_960_720.png
-->
        {% if context == "result" %}
				<div class="feedback">
          {% if bool_succ %}
					<img src="{% static 'ng/img/feedback_success_temp.png' %}" class="img-responsive smiley" id="success">
          {% elif bool_succ == False %}
            {% if experiment.last_mh == "none" or experiment.last_ms == "none" %}
            <img src="{% static 'ng/img/feedback_learn_temp.png' %}" class="img-responsive smiley" id="learn">
            {% else %}
			    	<img src="{% static 'ng/img/feedback_failure_temp.png' %}" class="img-responsive smiley" id="failure">
          {% endif %}
          {% endif %}
				</div>
        {% endif %}
				<!--Bouton Continuer-->
        {% if context == "question" and role == "speaker"%}
				<button type="button" id="continue"class="interact_speaker btn" style="margin-top: 20px">Continuer</button>
        {% elif context == "question" and role == "hearer"%}
        <button type="button" id="continue"  class="interact_hearer btn" style="margin-top: 20px">Continuer</button>
        {% elif context == "skipped" %}
        <button type="button" id="button_next"  class="button_action btn" style="margin-top: 20px">Continuer</button>
        {% endif %}
    	<!--	<button type="button" class="btn" id="next" style="margin-top: 20px; font-size:25px">Continuer</button> -->
			</div>
		</div>

	</div>

	<div class="row">

	</div>


	<!--Historique-->
	<div class="hide" id="hcontent">
		<div id="popover-heading">
			<div class='row' id='historyColNames'>
				<div class='col-xs-4' >
					<p style="font-size : 16px" id="history_objects">Objets</p>
				</div>

				<div class='col-xs-4' >
					<p style="font-size : 16px" id="history_words">Mots</p>
				</div>

				<div class='col-xs-4' >
					<p style="font-size : 16px" id="history_success">Succès</p>
				</div>
			</div>
		</div>

		<div id="popover-body">

      {% for past_int in experiment.pastinteraction_set.all|dictsortreversed:"time_id" %}
      {% if past_int.role == "hearer"%}
      <div "line_meaning">
        <div class='row'>
            <div class='col-xs-3' >
                <span class="img-histo"><img src="{% static 'ng/img/' %}kreyon_meaning{{ past_int.meaning }}.png"></span>
            </div>
           <div class='col-xs-6' >
             <span class="w-histo">{{ past_int.word }}</span>
           </div>
           <div class='col-xs-3' >
           {% if past_int.bool_succ %}<span class="img-responsive meaning"><img src="{% static 'ng/img/' %}feedback_success_temp.png"></span>{% endif %}
          </div>
      </div>
      </div>
      {% endif %}
      {% endfor %}

	</div>
</div>


	<!-- Modal -->
  	<div class="modal fade" id="myModal" role="dialog">
   		<div class="modal-dialog">

     		 <!-- Modal content-->
      			<div class="modal-content">
       				 <div class="modal-header">
          				<h4 class="modal-title" style = "color:black; text-align:center; margin:auto; font-size:35px;" id="modal_title">Êtes-vous sûr.e ?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
        			</div>
        			<div class="modal-body">
          				<p style="font-size:20px;" id="modal_body">Si vous quittez la partie en cours, celle-ci ne sera pas sauvegardée et vos données ne pourront pas être utilisées. Voulez-vous toujours quitter ?</p>
        			</div>
        			<div class="modal-footer">
					<a  href="/" type="button" class="btn btn-modal" id="btn-yes"><p>Oui, quitter la partie</p></a>
          				<button type="button" class="btn btn-modal" id="btn-no" data-dismiss="modal"><p>Non, continuer la partie<p></button>
        			</div>
      			</div>

   	 	</div>
  	</div>

    <!-- Optional JavaScript -->

   <script text="text/javascript">

$(document).ready(function() {
   //Menu

   //Sound
   $('#sound-off').click(function(){
     $('#sound-off').css('display','none');
     $('#sound-on').css('display','inline');
   });
   $('#sound-on').click(function(){
     $('#sound-on').css('display','none');
     $('#sound-off').css('display','inline');
   });
   //Home
   //Home
   $('#home').click(function(){
   	$("#myModal").modal({
   		keyboard : true,
   	});
   });

   var bar_width = ({{experiment.interaction_counter}} + 1) / {{experiment.max_interaction}} * 100;
   bar_width = String(bar_width)+"%";
   $('#bar').css('width', bar_width );

   if({{experiment.max_interaction}} == 10){$('#info').css('color','gray');}

   //Display Game History
   $("#menu-h").popover({
     placement : 'bottom',
     html : true,
     content: function() {
       return $('#popover-body').html();
     },
     title: function() {
       return $('#popover-heading').html();
     },
   });

   $('.m').click(function(){
     var mSelected = $(this).clone().removeClass('m').addClass('meaning');
     $('#you-meaning').css('visibility', 'visible').css('display','block');
     $('#you-meaning').html(mSelected);
     if( '{{context}}' == 'question' && '{{role}}' == "speaker" ) {
       $('.speaker-words').css('visibility', 'visible').css('display','block');
     } else {
       $('#continue').removeClass('disabled');
       $('#other-word').tooltip('hide');
       $('#anhearer').tooltip('hide');
       $('#m5').tooltip('hide');
     };
   });

   $('.w').click(function(){
     var wSelected = $(this).text();
     $('#word1').text(wSelected);
     $('#continue').removeClass('disabled').prop('disabled',false);
     $('#anspeaker').tooltip('hide');
   });
});
  </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

</body>
</html>
