{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title id="window_title"></title>
    <!--<link rel="stylesheet" href="style.css">-->

    <link rel="stylesheet" type="text/css" href="{% static 'ng/style.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="style2.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- To change font go https://fonts.google.com/ and choose whatever you like! -->
     <!--<script src="jquery-3.2.1.min.js"></script>-->
     <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
     <script type="text/javascript">
         var url_logout = "{% url 'ng:logout' %}";
         var url_home = "{% url 'ng:home' %}";
         {% if experiment %}
         var url_continue = "{% url 'ng:continue' experiment.xp_uuid %}";
         var url_results_inner_base = "{% url 'ng:results_inner_base' experiment.xp_uuid %}";
         var url_results_hearer_base = "{% url 'ng:results_hearer_base' experiment.xp_uuid %}";
         var url_results_speaker_base = "{% url 'ng:results_speaker_base' experiment.xp_uuid %}";
         {% endif %}
     </script>
     <script src="{% static 'ng/jquery-3.2.1.min.js' %}"></script>
     <script src="{% static 'ng/js.cookie.js' %}"></script>
     <script src="{% static 'ng/change_lang.js' %}"></script>
     <script src="{% static 'ng/script.js' %}"></script>
  </head>
  <body>
    <div id="maxsize">
    <div id="pagewrap">
        <header>
            {% include "ng/header.html" %}
        </header>

        <section id="content">
                {% if context == "choose_xp" %}
            {% include "ng/best_scores.html" %}
            {% else %}
            {% include "ng/past_interactions.html" %}
            {% endif %}
        </section>

        <section id="middle">
            {% include "ng/middle.html" %}
        </section>

        <section id="sidebar">
                {% if context == "score" %}
            {% include "ng/best_scores.html" %}
            {% else %}
            {% include "ng/sidebar.html" %}
            {% endif %}
        </section>

        <footer>
            <h4>Footer</h4>
            <p>Footer text</p>
        </footer>
    </div>
    </div>




  </body>
  {% csrf_token %}
</html>
