{% load static %}


{% if role == "hearer" %}
			<div id="speaker_hearer_block_inner">
			  	<h2 id="speaker_hearer_h2"><img src="{% static 'ng/img/' %}kreyon2hearerC.png">
			  	<span id="header_inter"></span> #{{ experiment.interaction_counter|add:1 }} :  <span id="hearer_header_text"> </span></h2>
			  	<!--<h2 id="speaker_hearer_h2"><img src="{% static 'ng/img/' %}kreyon2speakerC.png"><div id="speaker_hearer_text">You are the SPEAKER!</div></h2>-->
			</div>

{% elif role == "speaker" %}


			<div id="speaker_hearer_block_inner">
			  	<!--<h2 id="speaker_hearer_h2"><img src="{% static 'ng/img/' %}kreyon2hearerC.png"><div id="speaker_hearer_text">You are the HEARER!</div></h2>-->
			  	<h2 id="speaker_hearer_h2"><img src="{% static 'ng/img/' %}kreyon2speakerC.png"><span id="header_inter"></span> #{{ experiment.interaction_counter|add:1 }} :  <span id="speaker_header_text"> </span></h2>
			</div>

{% endif %}
