<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body class="four_page">
    <div class="container">
        <div class="col_1 col">
          <div class="imag_center">
            <img src="images/logo.png">
          </div>
        </div>
        <div class="col_2 col">
          <div>
            <h1 class="convers_font">HISTOIRE</h1>
            <div class="text_content_div">
              <p class="text_content_four">
              Pour ce faire, vous ne pourrez parler que deux par deux grâce à une radio, sans savoir lequel de vos camarades d'infortune est à l'autre bout.</p>
              <p class="text_content_four">
                L'un de vous proposera un mot et l'autre devra deviner l'objet auquel il fait référence.</p>
              <p class="text_content_four">Parfois vous proposerez un mot, parfois vous devinerez l'objet et parfois encore vous ne ferez pas partie de la conversation et ne saurez pas ce qui s'y est dit.</p>
              <p class="text_four">Mais attention, vous n'avez à vous tous qu'un nombre limité de conversations pour réussir !</p>
            </div>
          </div>
          <a href="conversation1.html" class="btn">CONTINUER <span class="block"></span></a>
        </div>
        <div class="col_3 col">
          <div class="control_ico">
            <img src="images/bitmap.png">
          </div>
        </div>
    </div>
  </body>
</html>
