{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang={{userNG.lang}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>

    <link href="{% static 'ng/stylev2.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'ng/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ng/bootstrap.min.js' %}"></script>
    <script src="{% static 'ng/popper.min.js' %}"></script>
    <script src="{% static 'ng/js.cookie.js' %}"></script>
    <script src="{% static 'ng/lang.js' %}"></script>
    <script src="{% static 'ng/change_lang.js' %}"></script>


    <title>NamingGame</title>

 {% include "ng/matomo.html" %}
  </head>
  <body class="four_page">
    <div class="container">
        <div class="col_1 col">
          <div class="imag_center">
            <img src="{% static 'ng/img/n_ghome.png' %}" id="home">
          </div>
        </div>
        <div class="col_2 col">
          <div>
            <h1 class="convers_font" id='story_pagetitle'>{% trans "STORY" %}</h1>
            <div class="text_content_div" id="block1">
              <p class="text_content_four" id="c1_1">{% trans "You have been kidnapped by aliens!" %}</p>
              <p class="text_content_four" id="c1_2">
                {% trans "You" %} <img class="txt_img" src="/static/ng/img/chat.png"> {% trans "are now locked alone in a room of their huge spaceship. In the neighboring rooms, there are two other individuals" %} {% trans "also kidnapped by your abductors from different parts of the galaxy." %} {% trans "Counting you, that's a total of three: " %} </span> <img src="/static/ng/img/user_groop.png" class="txt_img" style="vertical-align:middle;"></p>
              <p class="text_content_four" id="c1_3">{% trans "None of you is from the same planet or speaks the same language but you all want the same thing : escape and go back home." %}</p>
            </div>
            <div class="text_content_div" id="block2" style="display:none;">
              <p class="text_content_four" id="c2_1">
              {% trans "To do so, you may only talk" %} <img src="/static/ng/img/mic.png" class="txt_img"> {% trans "by pairs thanks to a radio, without knowing wich one of your fellow prisoners is on the other side." %}</p>
              <p class="text_content_four" id="c2_2">
                {% trans "One of you will say a word" %} <img src="/static/ng/img/mic-512.png" class="txt_img" > {% trans "and the other will have to guess which object they are referring to" %} <img class="txt_img" src="/static/ng/img/bitmap-1.png">.</p>
              <p class="text_content_four" id="c2_3">{%trans "Sometimes you will talk, sometimes you will listen and guess and sometimes you will keep listening to your radio" %} <img src="/static/ng/img/time.png" class="txt_img" > {% trans "waiting for a signal, while others are conversing." %} </p>
              <p class="text_four" id="c2_4">{% trans "Be careful, you only have a limited number of conversations to succeed!" %}</p>
              <p class="text_content_four" id="c2_5">{% trans "At any moment, you can have a look at what you learned from the other players by clicking on the clock" %} <img src="/static/ng/img/history.png" class="txt_img" >.</p>
            </div>
          </div>
          <a href="#" class="btn continue" id="continue">{% trans "CONTINUE" %} <span class="block"></span></a>
        </div>
        <div class="col_3 col"><!--
          <div class="control_ico" style="display:block;">
            <img src="{% static 'ng/img/soundon.png' %}" class="icon" id="sound-on" style="margin-left: 8px;">
            <img src="{% static  'ng/img/soundoff.png' %}" id="sound-off">
          </div> -->
        </div>
    </div>

 {% include 'ng/modal.html' %}
    <!-- Optional JavaScript -->
 {% include 'ng/sound.html' %}
  <script text="text/javascript">

  $(document).ready(function(){

    $('body').css('visibility', 'visible');


    //Home
    $('#home').click(function(){
      sound_click.play();
      $("#myModal").modal({
        keyboard : true,
      });
    });

    $('.continue').click(function(){
      sound_click.play();
      if($('#block1').css('display')=='block'){
        $('#block2').css('display', 'block');
        $('#block1').css('display', 'none');
      } else {
        /*window.location.href = "game_tutorial";*/
        $(this).prop('disable',true);
            $("html").addClass("wait");
            window.location.href='/new_experiment/basic';
        }
    });
    //Tooltips
 {% include 'ng/tooltips.js' %}
  });
  </script>


  </body>
</html>
