<!doctype html>
{% load static %}
{% csrf_token %}
<html lang={{userNG.lang}}>

  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>




	<!--CSS-->
	<link type="text/css" rel="stylesheet" href="{% static 'ng/ng.css' %}"/>

	<!--JQuery-->
	<script src="{% static 'ng/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'ng/popper.min.js' %}"></script>
	<script src="{% static 'ng/bootstrap.min.js' %}"></script>


	<title id="window_title">Naming Game</title>

	<script type="text/javascript">
         var url_logout = "{% url 'ng:logout' %}";

     </script>
     <script src="{% static 'ng/js.cookie.js' %}"></script>
     <script src="{% static 'ng/change_lang.js' %}"></script>
     <!--<script src="{% static 'ng/script.js' %}"></script>-->
 {% include "ng/matomo.html" %}

  </head>


  <body>

	<div class="row" id="page">
		<!--Colonne Avatar-->
		<div class="col-lg-2 side-column left">
			<div class="avatar">
				<!--adresse img :https://cdn.pixabay.com/photo/2018/02/04/10/59/astronaut-3129587_960_720.jpg-->
				<img src="{% static 'ng/img/avatar_player_default.jpg' %}" class="img-responsive">
				<div class="bottomtext" id="comment_avatar"> C'est vous !</div>
			</div>
		</div>

		<!--Colonne Centrale-->
		<div class="col-lg-8 central">

			<!--Icones menu-->
			<div class="row">
          <div class="col-lg-2">
				      <div class="menu" style="width: 85%">
				<!-- Ajouter les liens pour rendre fonctionnel -->
					        <span class="icon"><img src="{% static 'ng/img/french-flag.png' %}" id="lang" value="fr" ></span>
					        <span class="glyphicon glyphicon-volume-off icon" id="sound-off" style="margin-right: 27px; float:right;"></span>
					        <span class="glyphicon glyphicon-volume-up icon" id="sound-on" style="margin-right: 27px; float:right;"></span>
                </div>
          </div>
          <div class="col-lg-8"></div>
          <div class="col-lg-2">
            <span class="glyphicon glyphicon-off icon" id= "logoutbutton" style="margin-right: 7px"></span>
          </div>
			</div>

			<!--Titre Page-->
			<div class="row">
				<h1 class="pagetitle" id="home_pagetitle"> </h1>
			</div>

			<div class="row">
				<div class="col-lg-2"> </div>


				<!--Boutons principaux-->
				<div class="col-lg-8">
					<!--Tutoriel-->
					<button type="button" class="btn btn-default btn-large" id="button_basic">   </button>


					<!--Jeu-->

            {% if game_unlocked %}
          <button type="button" class="btn btn-default btn-large " id="button_normal">  </button>
            {% else %}
            <button type="button" class="btn btn-default btn-large disabled"  disabled>
            <p id="game_locked"> </p>
            </button>
            {% endif %}


					<!--Multiplayer-->
            {% if multi_unlocked %}
            <button type="button" class="btn btn-default btn-large " id="button_multi" style="margin-bottom : 75px">   </button>
            {% else %}
            <button type="button" class="btn btn-default btn-large disabled" style="margin-bottom : 75px">
            <p id="multi_locked"> </p>
            </button>
            {% endif %}

				</div>

				<div class="col-lg-2"></div>
			</div>



		</div>

		<!--Colonne Scores-->
		<div class="col-lg-2 side-column right">
			<h3 id="scores_title">  </h3>

			{% for score in user.score_set.all|slice:":10"|dictsortreversed:"score" %}
			  	<div "line_meaning">
			  		<span class='scores'>{{ forloop.counter }} .{{ score.score }}</span>
			  	</div>
			  {% endfor %}
		</div>
		</div>


	</div>

    <!-- Optional JavaScript -->
	 <script>

   $(document).ready(function(){
     $('body').css('visibility', 'visible');
   });
   //Menu

   //Sound
   $('#sound-off').click(function(){
   	$('#sound-off').css('display','none');
   	$('#sound-on').css('display','inline');
   });
   $('#sound-on').click(function(){
   	$('#sound-on').css('display','none');
   	$('#sound-off').css('display','inline');
   });

   $("#logoutbutton").click(function(){
     $("html").addClass("wait");
     window.location.href=url_logout;
   });
   //Choix du type de jeu
		$('#button_basic').click(function(){window.location.href = "story";});

		$('#button_normal').click(function(){
          $(this).prop('disabled', true);
    			$("html").addClass("wait");
    			window.location.href='/new_experiment/normal';
		});

		$('#button_multi').click(function(){
          $(this).prop('disabled', true);
    			$("html").addClass("wait");
    			window.location.href='/new_experiment/multiuser';
		});



	</script>
  </body>
</html>
