{% load static %}


	<link rel="stylesheet" type="text/css" href="{% static 'ng/style.css' %}" />
	<!--<link rel="stylesheet" type="text/css" href="style2.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<!-- To change font go https://fonts.google.com/ and choose whatever you like! -->
     <!--<script src="jquery-3.2.1.min.js"></script>-->
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="{% static 'ng/js.cookie.js' %}"></script>
     <script src="{% static 'ng/lang.js' %}"></script>


<div>
<input type="button" class="button" id="new_xp_button" value="New Experiment" onclick="self.location.href='new_experiment'" > 
</div>
<div>
<button id="flag_it" class="button">Italiano</button> <button id="flag_en" class="button">English</button>
</div>

{% if latest_experiment_list %}
    <ul>
    {% for experiment in latest_experiment_list %}
        <li><a href="/ng/{{experiment.xp_uuid }}/">{{ experiment.xp_uuid }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No xps are available.</p>
{% endif %}
     <script src="{% static 'ng/change_lang.js' %}"></script>


