{% load static %}
<!doctype html>
<html lang={{userNG.lang}}>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>

  <link href="{% static 'ng/stylev2.css' %}" rel="stylesheet" type="text/css">
  <!--JQuery-->
  <script src="{% static 'ng/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'ng/popper.min.js' %}"></script>
  <script src="{% static 'ng/bootstrap.min.js' %}"></script>
  <script src="{% static 'ng/js.cookie.js' %}"></script>
  <script src="{% static 'ng/script.js' %}"></script>
  <script src="{% static 'ng/change_lang.js' %}"></script>

	<title id="window_title">Naming Game</title>
 {% include "ng/matomo.html" %}
</head>

<body class="four_page">
  <div class="container">
      <div class="col_1 col">
        <div class="imag_center">
          <img src="{% static 'ng/img/n_ghome.png' %}" id="homebutton">
        </div>
      </div>
      <div class="col_2 col">
        <div>
          <h1 class="convers_font" id="infos_title" style="margin-right:10%;margin-left:20%">MERCI DE VOTRE PARTICIPATION !</h1>
          <div class="text_content_div">
          <div id="infos_txt">
          </div>
        {% if q_filled %}
          <p class=" text_content_four" style="text-align:center;font-size:18px;" id="infos_qu"></p>
          {% endif %}
          </div>
        </div>

        {% if q_filled %}
        <div class="row">
            <button class="btn" id="continue">CONTINUE</button>
        </div>
        {% else %}
        <div class="row">
          <h1 class="convers_font" style="margin-right:50%; margin-top:70px; font-size:30px; margin-bottom:10px;" id="question_title">Questionnaire :</h1>
        </div>
        <form id="form" method="post">
        <div class="row form-group">
          {% csrf_token %}

            {{form.non_field_errors}}

            <div class="fieldWrapper row" >
              {{ form.q1.errors }}
              <div class="row">
              <label id="label_q1" class="text_login" style="float:left; display:block"> </label>
              </div>
              <div class="w-100"></div>
              <div class="row">
              <div style="font-size:16px; display:block; float:right;">{{ form.q1 }}</div>
              </div>
            </div>

            <div class="fieldWrapper row">
              {{ form.q2.errors }}
              <div class="row">
              <label id="label_q2" class="text_login" style="float:left; display:block">  </label>
            </div>
            <div class="w-100"></div>
            <div class="row">
              <div style="font-size:16px; display:block; float:right;">{{ form.q2 }}</div>
            </div>
            </div>

            <div class="fieldWrapper row">
              {{ form.q3.errors }}
              <div class="row">
              <label id="label_q3" class="text_login" style="float:left; display:block"> </label>
            </div>
            <div class="w-100"></div>
            <div class="row">
              <div style="font-size:16px; display:block;float:right; ">{{ form.q3 }}</div>
            </div>
            </div>

            <div class="fieldWrapper row">
              {{ form.q4.errors }}
              <div class="row">
              <label id="label_q4" class="text_login" style="float:left; display:block">  </label>
            </div>
            <div class="w-100"></div>
            <div class="row">
              <div style="font-size:16px; display:block;float:right; ">{{ form.q4 }}</div>
            </div>
            </div>

            <div class="fieldWrapper row">
              {{ form.q5.errors }}
              <div class="row">
              <label id="label_q5" class="text_login" style="float:left; display:block">  </label>
            </div>
            <div class="w-100"></div>
            <div class="row">
              {{ form.q5 }}
            </div>
            </div>

            <div class="w-100"></div>


            <input type="submit" class="btn btn-default bt-lg" id="submit" value="Valider"/>
        </div>
      </form>
        {% endif %}
      </div>
      <div class="col_3 col"><!-- 
        <div class="control_ico">
          <img src="{% static 'ng/img/soundon.png' %}">
        </div> -->
      </div>
      </div>
  </div>
  <!-- Optional JavaScript -->
 {% include 'ng/sound.html' %}
 <script text="text/javascript">


 $(document).ready(function(){


   $('body').css('visibility', 'visible');


 //Menu


 $("#homebutton").click(function(){
   sound_click.play();
   $("html").addClass("wait");
   window.location.href=url_home;
 });}

</script>
</body>
</html>
