{% load static %}
<!doctype html>
<html lang={{userNG.lang}}>

  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>

	<!--CSS-->
	<link type="text/css" rel="stylesheet" href="{% static 'ng/ng.css' %}"/>

	<!--JQuery-->
  <!--<script src="{% static 'ng/jquery-3.2.1.min.js' %}"></script>-->
	<script src="{% static 'ng/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'ng/bootstrap.min.js' %}"></script>
  <script src="{% static 'ng/popper.min.js' %}"></script>
	<script src="{% static 'ng/js.cookie.js' %}"></script>
    <script src="{% static 'ng/lang.js' %}"></script>
  <script src="{% static 'ng/change_lang.js' %}"></script>

	<title id="window_title">Naming Game</title>
 {% include "ng/matomo.html" %}
  </head>

<body>
  	<div class="error_div row">
  		<div class="col-lg-2">
  		<!--Menu-->
  			<div class="menu" style="margin-right: auto; margin-left:auto; width:40%; max-width: 160px">
  				<!--<span class="glyphicon glyphicon-info-sign icon" id="info"></span>-->
  				<span class="glyphicon glyphicon-volume-off icon" id="sound-off"></span>
  				<span class="glyphicon glyphicon-volume-up icon" id="sound-on"></span>
  				<span class="glyphicon glyphicon-home icon" id="home"></span>
  			</div>
  		</div>
  		<div class="col-lg-8"><h1 id="titre_info" class="pagetitle" style="margin: 10px auto 10px;"> Merci de votre participation ! </h1></div>
      <div class="col-lg-2"></div>
  	</div>
  	<div class="error_div row">
  		<div class="col-md-2"></div>
  		<div class="col-xs-10 col-md-8">
  			<div class = "row">
  				<div id="info_text" class="col-xs-12">
            <p class="text_info">Ce jeu auquel vous venez de jouer est bien plus qu'un jeu. C'est une simulation informatique qui modélise l'apparition et l'évolution du vocabulaire d'une population. On parle aussi de modèle computationnel multi-agent de l'émergence et de l'évolution des conventions lexicales, autrement dit un Naming Game.</p>

<p class="text_info">Celui-ci est un peu particulier puisqu'il vous permet de prendre la place d'un de ses agents virtuels et de participer vous aussi à la création de ces conventions lexicales. </p>

<p class="text_info">Vous avez pu remarquer que vos choix ont eu une influence, ou pas, sur ceux des autres agents. Car dans ce jeu tout le mode est à égalité et vous n'êtes pas seul.e à pouvoir influer sur le jeu.</p>

<p class="text_info">Le score et le tableau à la fin de chaque partie vous indiquent à quel point vous avez tous réussi à vous mettre d'accord. En 50 interactions seulement, c'est un exercice difficile qui comporte une certaine part de hasard. Mais le succès de chaque partie est loin d'être aléatoire. De très nombreuses stratégies sont possibles et permettent, à votre échelle, d'influencer significativement le résultat.
Nous nous penchons ici plus précisément sur la manière dont vous choisissez les objets lorsque c'est à votre tour de parler (on dit aussi que vous êtes le speaker).</p>

<p class="text_info">Vous pouvez par exemple choisir complètement au hasard. On appelle cette stratégie une stratégie naïve. Vous pouvez aussi choisir ces objets en fonction de certains critères.
Une possibilité serait de parler toujours du même objet. Vous aurez ainsi de grandes chances pour que tout le monde partage le même mot pour cette objet, mais il y a également beaucoup de risques pour que les autres objets se retrouvent sans nom partagé par tous à la fin de la partie.</p>

<p  class="text_info">Une autre stratégie consiste à parler uniquement ou presque des objets dont vous connaissez le nom pour augmenter vos chances que ce nom soit utilisé par le plus grand nombre de vos partenaires.</p>
{% if q_filled %}
<p class="text_info">Bref, il y a énormément de stratégies et c'est justement ce qui nous intéresse dans le cadre de notre recherche. Amusez-vous à en tester de nouvelles ! </p>
{% else %}
<p class="text_info">Bref, il y a énormément de stratégies et c'est justement ce qui nous intéresse dans le cadre de notre recherche. Afin de nous aider, pourriez-vous remplir ce bref questionnaire ?</p>
{% endif %}
  				</div>
  			</div>
        {% if q_filled %}
        <div class="row">
            <button class="btn" id="btn_home">Revenir à l'Accueil</button>
        </div>
        {% else %}
        <div class="row">
          <h3 id="question_title">Questionnaire :</h3>
        </div>
        <form id="form" method="post">
        <div class="row form-group">
          {% csrf_token %}

            {{form.non_field_errors}}

            <div class="fieldWrapper" >
              {{ form.q1.errors }}
              <div class="row">
              <label id="label_q1" class="label1" style="float:left; display:block"> </label>
              </div>
              <div class="row">
              <div style="font-size:16px; display:block; float:right;">{{ form.q1 }}</div>
              </div>
            </div>

            <div class="fieldWrapper">
              {{ form.q2.errors }}
              <div class="row">
              <label id="label_q2" class="label1" style="float:left; display:block">  </label>
            </div>
            <div class="row">
              <div style="font-size:16px; display:block; float:right;">{{ form.q2 }}</div>
            </div>
            </div>

            <div class="fieldWrapper">
              {{ form.q3.errors }}
              <div class="row">
              <label id="label_q3" class="label1" style="float:left; display:block"> </label>
            </div>
            <div class="row">
              <div style="font-size:16px; display:block;float:right; ">{{ form.q3 }}</div>
            </div>
            </div>

            <div class="fieldWrapper">
              {{ form.q4.errors }}
              <div class="row">
              <label id="label_q4" class="label1" style="float:left; display:block">  </label>
            </div>
            <div class="row">
              <div style="font-size:16px; display:block;float:right; ">{{ form.q4 }}</div>
            </div>
            </div>

            <div class="fieldWrapper">
              {{ form.q5.errors }}
              <div class="row">
              <label id="label_q5" class="label1" style="float:left; display:block">  </label>
            </div>
            <div class="row">
              {{ form.q5 }}
            </div>
            </div>


            <input type="submit" class="btn btn-default bt-lg" id="submit" value="Valider"/>
        </div>
      </form>
        {% endif %}
  		</div>
  		<div class="col-md-2"></div>
  	</div>
  	<div class="error_div row"></div>
 {% include 'ng/sound.html' %}
	<script text="text/javascript">


  $(document).ready(function(){
    $('body').css('visibility', 'visible');

	//Menu

	//Home

	$('#btn_home').click(function(){
    sound_click.play();
	 window.location.href = "/";
	});

  $('#home').click(function(){
    sound_click.play();
	 window.location.href = "/";
	});


});
	</script>
</body>
</html>
