{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>

    <link href="{% static 'ng/stylev2.css' %}" rel="stylesheet" type="text/css">
    <!--JQuery-->
    <script src="{% static 'ng/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ng/popper.min.js' %}"></script>
    <script src="{% static 'ng/bootstrap.min.js' %}"></script>
    <script src="{% static 'ng/js.cookie.js' %}"></script>
    <script src="{% static 'ng/script.js' %}"></script>
    <script src="{% static 'ng/lang.js' %}"></script>
    <script src="{% static 'ng/change_lang.js' %}"></script>
     {% include 'ng/sound.html' %}
    <script type="text/javascript">
        var url_send_user_info = "{% url 'ng:send_user_info_base'  %}";
        var url_newxp = "{% url 'ng:new_experiment'  %}";
        var url_home = "{% url 'ng:home'  %}";


        //uuid
        function uuid()
        {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);
                return v.toString(16);
            });
        }

        //user cookie
        if (typeof Cookies.get('NamingGameUser') === 'undefined'){
            var user_str = uuid();
            $("#username").html(user_str);
            Cookies.set('NamingGameUser',
                user_str
                );
            };

         //language
        $(".info_lang").click(function(){
           sound_click.play();
           var language = $(this).val();
           $('#lang').html(language);
           $("#id_lang").val($("#lang").html());
         });

         $('#submit').click(function(){
           sound_click.play();
         });


         $(document).ready(function(){

           $('body').css('visibility', 'visible');

           $("#id_name_cookie_id").val($("#username").html());

           $('#id_code').tooltip({
             title : "{% trans "If you were not provided a token, leave empty." %}",//"Si vous n'avez pas de code, laissez ce champ vide.",
             placement : "left",
             trigger : "hover focus",
           });


           // $('#it').click(function(event){
           //     change_language(($('#it').attr('value')));
           //     $('#id_code').attr('data-original-title', "ITALIAN");
           // });
           $('#en').click(function(event){
               change_language(($('#en').attr('value')));
               // $('#id_code').attr('data-original-title', "If you don't have any code, leave this field empty.");
           });
           $('#fr').click(function(event){
               change_language(($('#fr').attr('value')));
               // $('#id_code').attr('data-original-title', "Si vous n'avez pas de code, laissez ce champ vide.");

           });
           set_language();

           });


    </script>
 {% include "ng/matomo.html" %}

  </head>
  <body class="login_page">
    <div class="container">
        <div class="col_1 col">
          <div class="imag_center">
            <img src="{% static 'ng/img/logo.png' %}">
          </div>
        </div>
        <div class="col_2 col">

          <h1 class="convers_font" style="padding:0px; margin-top:25px; margin-bottom:25px;" id="welcome">{% trans "The Naming Game" %}</h1>
          <!-- Formulaire -->
           <!--action="/action_page.php"-->
          <form id="form" method="post">
            <div class="form-group">
                           <div class="row">
                <!--Code si pertinent-->
                  <div class="fieldWrapper" style="margin : auto;">
                      <label class="text_login" id="consent_form", style="text-align:left;"><p>{% trans "You’re about to start a short game where you will have to collectively build a lexicon with other individuals. Your answers will be recorded but will not be identifiable to you personally. The game will take about 20 minutes." %}
</p>
<p style = "margin-top:1.5em;margin-bottom:1.5em;"><b>{% trans "Before consenting to participate, please" %} <a href="/static/ng/pdf/{% trans "consent_form.pdf" %}" target="_blank">{% trans "click here" %}</a> {% trans "to read more detailed information about the study." %}</b>
</p>
<p>
<ul>
                    <li>{% trans "You have read and understood the detailed information about the study." %}</li>
                    <li>{% trans "You agree that your anonymized data may be kept for up to 5 years in the archives of Inria and may be used by qualified researchers for teaching and research purposes" %}</li>
                    <li>{% trans "You agree that your anonymized data may be made publicly available for general use, e.g., put on the world wide web." %}</li>
                    <li>{% trans "You consent to the use of cookies for this site." %}</li>
                </ul>
</p>
<p>{% trans "If you do not agree to all of these, simply close this window in your browser now." %}</p>
</label>
                  </div>
              </div>


              <div class="row" id="footer">
                  <input type="submit" class="btn btn-default bt-lg" id="submit" value="{% trans "Submit" %}"/>
              </div>

                  <div class="row">
                <div class="col-md-4"> </div>
                <div class="col-md-4">
                  <!--Choix Nom-->


                <!--  <input type="username" class="form-control" id="username" value="Submit" required>-->
        <!--        {% csrf_token %} -->

              {% csrf_token %}
              {{form.non_field_errors}}
              <div class="fieldWrapper">
              {{ form.name_cookie_id.errors }}
              {{ form.name_cookie_id }}
              </div>

              <div class="fieldWrapper">
                {{ form.your_name.errors }}
                <label for="player-name" class="text_login" id="enter_player_name" style="display:block">Prolific ID:</label>

                {{ form.your_name }}
              </div>

                  <div class="not_displayed" style= "visible:hidden; display:none">
                    <span id="username"></span>
                  </div>
                </div>
                <div class="col-md-4"> </div>
              </div>
              <div class="fieldWrapper">
              {{ form.name_lang.errors }}
              {{ form.name_lang }}
              </div>
                <!--Choix Langage-->
                <label class="text_login" id="label_lang"></label>

              <div class="row" id="middle">
                <div class="col-sm">
                  <label class = "lang">
                      <input type="radio"  name="lang" class="info_lang"  id="fr" value="fr" {% if request.LANGUAGE_CODE|slice:":2" == "fr" %} checked {% endif %} />
                    <!--adresse img :https://cdn.pixabay.com/photo/2015/11/20/18/55/french-flag-1053711_960_720.png-->
                    <img src="{% static 'ng/img/french-flag.png' %}"  class="lang" value="fr" for="fr" alt="french" >
                  </label>
                </div>
                <div class="col-sm">
                  <label class="lang">
                      <input type="radio" class="lang" name="lang" class="info_lang" id="en" value="en" {% if request.LANGUAGE_CODE|slice:":2" != "fr" %} checked {% endif %}/>


                    <!--adresse img :https://cdn.pixabay.com/photo/2012/04/23/16/15/flags-38754_960_720.png-->
                    <img src="{% static 'ng/img/english-flag.png' %}" class="lang" value="en" for="en" alt="english" >
                  </label>
                </div>
              <!--  <div class="col-sm">
                  <label class="lang">
                      <input type="radio" class="lang" name="lang" class="info_lang" id="it" value="it" />
                    <img src="{% static 'ng/img/italian-flag.png' %}" class="lang" value="it" for = "it" alt="italian" >
                  </label>
                </div> -->
              </div>

              <div class="row">
                <!--Code si pertinent-->
<!--                   <div class="fieldWrapper" style="margin : auto;">
                      {{form.code.errors}}
                      <label class="text_login" id="label_code">{% trans "If you have been told to use a specific token, enter it here :" %}</label>
                      {{form.code}}
                  </div> -->
              </div>


            </div>
          </form>


        {% csrf_token %}

        </div>
        <div class="col_3 col">
        <!--  <div class="control_ico">
            <img src="{% static 'ng/img/soundon.png' %}">
          </div> -->
        </div>
    </div>
  </body>
</html>
