{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Conceptizer</title>
    <!--<link rel="stylesheet" href="style.css">-->

    <link rel="stylesheet" type="text/css" href="{% static 'ng/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
     <script src="{% static 'ng/jquery-3.2.1.min.js' %}"></script>
     <script src="{% static 'ng/js.cookie.js' %}"></script>
     <script src="{% static 'ng/change_lang.js' %}"></script>
     <script src="{% static 'ng/script.js' %}"></script>
     <script type="text/javascript">
         var url_send_user_info = "{% url 'ng:send_user_info_base'  %}";
         var url_newxp = "{% url 'ng:new_experiment'  %}";
         var url_home = "{% url 'ng:home'  %}";
     </script>
     <script src="{% static 'ng/login.js' %}"></script>     
  </head>



  {% csrf_token %}
</html>
