{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Conceptizer</title>
    	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'ng/ng.css' %}" />
  <!--  <link rel="stylesheet" type="text/css" href="{% static 'ng/style.css' %}" /> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
     <script src="{% static 'ng/jquery-3.2.1.min.js' %}"></script>
     <script src="{% static 'ng/js.cookie.js' %}"></script>
     <script src="{% static 'ng/change_lang.js' %}"></script>
     <script src="{% static 'ng/script.js' %}"></script>
	  <!--  <script src="{% static 'ng/login.js' %}"></script> -->
     <script type="text/javascript">
         var url_send_user_info = "{% url 'ng:send_user_info_base'  %}";
         var url_newxp = "{% url 'ng:new_experiment'  %}";
         var url_home = "{% url 'ng:home'  %}";

         //uuid
         function uuid()
         {
             return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                 var r = Math.random()*16|0, v = c === 'x' ? r : (r&0x3|0x8);
                 return v.toString(16);
             });
         }

         //user cookie
         if (typeof Cookies.get('NamingGameUser') === 'undefined'){
             var user_str = uuid();
             $("#username").html(user_str);
             Cookies.set('NamingGameUser',
                 user_str
                 );
             };

          //language
         $(".info_lang").click(function(){
            var language = $(this).val();
            print(language);
            $('#lang').html(language);

          });

          $(document).ready(function(){
            $("#id_name_cookie_id").val($("#username").html());
            $("#id_lang").val($("#lang").html());
            $("#id_code").val($("#code").val());
          });


     </script>

     <!--<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>-->
  </head>
<body>
	<h1 class="pagetitle" style="padding:0px; margin-top:25px;" id="welcome">Le Naming Game !</h1>

	<!-- Formulaire -->
	 <!--action="/action_page.php"-->
	<form id="form" method="post">
		<div class="form-group">

    			<div class="row">
				<div class="col-md-4"> </div>
				<div class="col-md-4">
					<!--Choix Nom-->
        				<label for="player-name" class="label" id="enter-player-name" style="display:block">Entrez votre nom ici :</label>

				<!--	<input type="username" class="form-control" id="username" value="Submit" required>-->
<!-- 				{% csrf_token %} -->

			{% csrf_token %}
				{{ form }}
          <div class="not_displayed" style= "visible:hidden; display:none">
            <span id="username"></span>
          </div>
				</div>
				<div class="col-md-4"> </div>
			</div>

				<!--Choix Langage-->
				<label class="label" id="label-lang">Choisissez la langue du jeu :</label>

			<div class="row" id="middle">
        <div class="col-lg-2 visible-lg"> </div>
				<div class="col-lg-2 col-xs-12">
					<label class = "lang">
  						<input type="radio" name="lang" class="info_lang"  id="fr" value="fr"  checked/>
						<!--adresse img :https://cdn.pixabay.com/photo/2015/11/20/18/55/french-flag-1053711_960_720.png-->
						<img src="{% static 'ng/img/french-flag.png' %}"  value="fr" for="fr" alt="french" width= 160px height= 115px >
					</label>
				</div>

				<div class="col-lg-4 col-xs-12">
					<label class="lang">
  						<input type="radio" name="lang" class="info_lang" id="en" value="en"/>
						<!--adresse img :https://cdn.pixabay.com/photo/2012/04/23/16/15/flags-38754_960_720.png-->
						<img src="{% static 'ng/img/english-flag.png' %}"  value="en" for="en" alt="english" width= 160px height= 115px >
					</label>
				</div>
				<div class="col-lg-2 col-xs-12">
					<label class="lang">
  						<input type="radio" name="lang" class="info_lang" id="it" value="it" />
						<!--adresse img :https://cdn.pixabay.com/photo/2012/04/11/15/35/flag-28543_960_720.png-->
						<img src="{% static 'ng/img/italian-flag.png' %}"  value="it" for = "it" alt="italian" width= 160px height= 125px >
					</label>
				</div>
        <div class="col-lg-2 visible-lg"> </div>
			</div>

      <div class="row">
        <!--Code si pertinent-->
        <div class="col-md-4"> </div>
        <div class="col-md-4">
        <label class="label" id="label-code" style="font-size: 20px;">Si vous avez un code spécial, veuillez l'entrer ici :</label>
        <input type="text" class="form-control" id="code" value="no_code"  style= "width:40%; margin : auto;">

      </div>
      <div class="col-md-4"></div>
      </div>

			<div class="row" id="footer">
				<div class="col-md-4"> </div>
				<div class="col-md-4">

					<input type="submit" class="btn btn-default bt-lg" id="submit" value="Valider"/>

				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</form>


{% csrf_token %}
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>

  <div class="not_displayed">
    <span id="username"></span>
    <span id="lang"></span>
</div>

</html>
