{% load static %}


{% if role == "hearer" and context == "question" %}

			<div id="choose">
			  	<div id="choose_inner">
					<div id="word_hearer">
					  	<div class="question_text" id="hearer_word_question">
						  	You heard this word:
						</div>
						<div id="word_inner">
							<div class="word_text word_text_hearer selected_w"> {{ word }} </div>
						</div>
					</div>
					<div id="meaning">
						<div class="question_text" id="hearer_meaning_question">
						  	What do you think the speaker talked about?
						</div>
						<div id="meaning_inner">
							{% for m in experiment.meanings.all %}
							<img id="meaning_{{ m.meaning }}" class="meaning_img" src="{% static 'ng/img/' %}kreyon_meaning{{ m.meaning }}.png" meaning_name="{{ m.meaning }}">
							{% endfor %}
						</div>
					  </div>
					<div id="button_next_div">
    					<button id="interactbutton" class="button_action button interact_hearer">Interact</button>
					  	<!--<form id="hearer_form" onsubmit="get_action(this);"  method=post>

						{% csrf_token %}
						<input type='hidden' id='hiddenField_hearer_form' value="{% url 'ng:results_hearer_base' experiment.xp_uuid %}" />
						<input id="button_next" class="button_hearer button_action button" type="submit" value="Next" />
						</form>-->

					</div>
				</div>
			</div>

{% elif role == "speaker" and context == "question" %}

			<div id="choose">
			  	<div id="choose_inner">
					<!--<div id="word_hearer">
					  	<div class="question_text">
						  	You heard this word:
						</div>
						<div id="word_inner">
							<div class="word_text" id="word5"> karabuk </div>
						</div>
					</div>-->
					<div id="meaning">
						<div class="question_text" id="speaker_meaning_question">
						  	What do you want to talk about? <!-- What do you think the speaker talked about? -->
						</div>
						<div id="meaning_inner">
							{% for m in experiment.meanings.all %}
							<img id="meaning_{{ m.meaning }}" class="meaning_img" src="{% static 'ng/img/' %}kreyon_meaning{{ m.meaning }}.png" meaning_name="{{ m.meaning }}">
							{% endfor %}
						</div>
					  </div>
					  <div id="word_speaker" style="display: none;">
						<div class="question_text" id="speaker_word_question">
					  		Using which word?
					  	</div>
					  	<div id="word_inner">
							{% for w in experiment.words.all %}
							<div id="word_{{ w.word }}" class="word_text word_text_speaker" word_name="{{ w.word }}"> {{ w.word }} </div>
							{% endfor %}
						</div>

					</div>
					<div id="button_next_div">
					  	<!--<button id="button_next">Next</button>-->
    					<button id="interactbutton" class="button_action button interact_speaker">Interact</button>
					  	<!--<form id="speaker_form" onsubmit="get_action(this);"  method=post>

						{% csrf_token %}
						<input type='hidden' id='hiddenField_speaker_form' value="{% url 'ng:results_speaker_base' experiment.xp_uuid %}" />
						<input id="button_next" class="button_speaker button_action button" type="submit" value="Next" />
						</form>-->

					</div>
				</div>
			</div>

{% elif context == "result" %}
<div id="choose">
{% include "ng/results_toinclude.html" %}
			</div>
{% else %}

			<div id="choose">
			  	<div id="choose_inner">
					<!--<div id="word_hearer">
					  	<div class="question_text">
						  	You heard this word:
						</div>
						<div id="word_inner">
							<div class="word_text" id="word5"> karabuk </div>
						</div>
					</div>-->
					<div id="meaning">




						<div class="question_text">
						  	<p><strong id="{{ textid }}" nb_skipped="{{ nb_skipped }}"></strong></p>
						</div>
					  </div>
					<div id="button_next_div">
					  	<!--<button id="button_next">Next</button>-->
					  	{% if context == "new_xp" %}	
						<button id="button_start" class="button button_action"></button>
						{% else %}
						<button id="button_next" class="button button_action"></button>
						{% endif %}
						{% csrf_token %}

					</div>
				</div>
			</div>

{% endif %}


    <!--<button id="testbutton" class="button_action button">Test</button>-->
