{% load static %}
{% load i18n %}

     	<div class="modal fade" id="myModal" role="dialog">
       		<div class="modal-dialog">

         		 <!-- Modal content-->
          			<div class="modal-content">
           				 <div class="modal-header">
              				<h4 class="modal_title" style="color:black; text-align:center; margin:auto; font-size:35px;" id="modal_title">{% trans "Are you sure ? " %}</h4>
    					<button type="button" class="close" data-dismiss="modal">&times;</button>
            			</div>
            			<div class="modal-body">
              				<p style="font-size:20px;" id="modal_body">{% trans "If you leave this page, the game won’t be saved. Do you want to quit ?" %}</p>
            			</div>
            			<div class="modal-footer">
    					<a  href="/" type="button" class="btn btn-modal" id="btn_yes"><p>{% trans "Yes, quit the game" %}</p></a>
              				<button type="button" class="btn btn-modal" id="btn_no" data-dismiss="modal"><p>{% trans "No, resume the game" %}</p></button>
            			</div>
          			</div>

       	 	</div>
      	</div>