{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang={{userNG.lang}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>



    <script src="{% static 'ng/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'ng/bootstrap.min.js' %}"></script>
    <script src="{% static 'ng/popper.min.js' %}"></script>
    <script src="{% static 'ng/js.cookie.js' %}"></script>
    <script src="{% static 'ng/lang.js' %}"></script>
    <script src="{% static 'ng/change_lang.js' %}"></script>
    <link href="{% static 'ng/stylev2.css' %}" rel="stylesheet" type="text/css">
 {% include "ng/matomo.html" %}
    <title>NamingGame</title>
  </head>
  <body class="resultats_page">
    <div class="not_displayed" style="visible:hidden; display:none">
      <span id="nbr_played">{{nbr_played}}</span>
    </div>
    <div class="container">
       {% include "ng/col1.html" %}
        <div class="col_2 col">
          <h1 class="convers_font" id="results">{% trans "RESULTS" %}</h1>
          <div class="text_content_div" >
            {% if experiment.xp_config.xp_cfg_name == "basic" %}
            <p class="text_content_four" id="text_end_tuto" style="max-width:1000px;">{% trans "Your prison guard gets bored by the many strange sounds that are coming from your cell, and decides to transfer you to another part of the ship, luckily with more neighbors and more objects." %}</p>
            {% elif experiment.game_won %}
            <p class="text_content_four" id="text_end" style="max-width:1000px;">{% trans "Once you manage to understand each other, you come up with a cunning plan to escape. Your abductors don’t even see it coming until it’s too late. You steal a ship from them and one of your companions drives you back home with it." %}</p>
            {% else %}
            <p class="text_content_four" id="text_end_lost" style="max-width:1000px;">{% trans "Sadly, your abductors realize that you and your neighbors are trying to communicate before you reach an acceptable level of understanding. They split all of you you between different parts of the prison ship, with new cell neighbors." %}</p>
            {% endif %}

          </div>
          <h2 class="droop"><span id="texte_score">{% trans "You and your fellow prisoners reached an understanding level of : " %}</span> {{score_pct}} % </h2>

          <form>

            <div class="row">
                {% for mww in mww_list %}
                <div class="col" style="margin:auto;max-width:170px;padding:0px;">
                  <div class="row_inputs_file row_inputs_top " id="r1">
                    <div class="result_img">
                      <label class="label_input_file">
                        <input name="result_checkbox" type="radio" hidden>
                        <span class="castom_input_file" disabled><img class="div1" src="{% static 'ng/img/' %}kreyon_meaning{{mww.0}}.png" id="meaning{{mww.0}}" style="width:80px; height:80px"></span>
                      </label>
                    </div>
                  </div>
                  <div class="row"><img src="{% static 'ng/img/arrow_down.png' %}" style="margin:auto; width:20px; height:20px; margin-top:30px"></div>
                  <div class="row_inputs_file row_inputs_file_three" id="r2" style="margin-top:15px">
                    <label class="label_input_file_two label_input_right">
                      <div type="text" class="castom_input div2" style="height: 3.2em; resize:none;" disabled> <div>{{mww.1}}</div>
                      {% if mww.2 != " " %}<div>{{mww.2}}</div> {% endif %} </div>
                  </div>
                  <h4>
                    <div class="row_inputs_file">
                    {{ mww.3 }} %
                    </div>
                  </h4>
              </div>

                {% endfor %}
            </div>

            {% if experiment.max_interaction != 10 %}
            <div class="row">
              {% if won %}
                <span id="game_won" class="won_lose_text">{% trans "Congratulations, you won the game!" %}</span>
              {% else %}
              <span id="game_lost" class="won_lose_text">{% trans "You'll do better next time! To win, you need to reach" %} 66 %.</span>
              {% endif %}
            </div>
              {% else %}
            <div class="row">
              {% if won %}
                <span id="tuto_won" class="won_lose_text">{% trans "Congratulations, you won the tutorial! To win also in the main game, you need to reach" %} 66 %.</span>
              {% else %}
              <span id="tuto_lost" class="won_lose_text">{% trans "You'll do better in the main game! To win, you need to reach" %} 66 %.</span>
              {% endif %}
            </div>
              {% endif %}

          <!--    <div id="div1">
            {% for m in m_list %}
              <div class="result_img">
              <label class="label_input_file">
                <input name="result_checkbox" type="radio" hidden>
                <span class="castom_input_file" disabled><img src="{% static 'ng/img/' %}kreyon_meaning{{m}}.png" id="meaning{{m}}" style="width:80px; height:80px"></span>
              </label>
            </div>
              {% endfor %}
            </div>
            </div>
            <div class="row_inputs_file row_inputs_file_three" id="r2">
              <div id="div2">
              {% for ww in w_list %}
              <label class="label_input_file_two label_input_right">
                <textarea type="text" class="castom_input" style="height: 3.2em; resize:none;" disabled>{{ww.0}}
{{ww.1}}</textarea>
                 <input type="text" class="castom_input" value="{{w}}" id="word1_{{forloop.counter}}" readonly> -->
              <!--</label>
              {% endfor %}
            </div>
            </div> --><!--
            <div class="row_inputs_file_two" id="r3">
              <div id="div3">
              {% for w in w_list2 %}
              <label class="label_input_file_two label_input_right">
                <input type="text" class="castom_input" value="{{w}}" id="word2_{{forloop.counter}}" readonly>
              </label>
              {% endfor %}
            </div>
            </div> -->
            <a href="/" class="btn trangle continue" id="continue">CONTINUER <span class="block"></span></a>
          </form>
        </div>
        <div class="col_3 col" style="margin-top: 50px;margin-bottom: 100px;">
          <div class="control_ico" style="display:block;margin: auto;">
            <img src="{% static 'ng/img/history.png' %}" id="menu-h">
          </div>
        </div>
    </div>

    <!--Historique-->
    <div class="hide" id="hcontent">
      <div id="popover-heading">
        <div class='row' id='historyColNames'>
          <div class='col-xs-4' >
            <p style="font-size : 16px" id="history_objects">Objets</p>
          </div>

          <div class='col-xs-4' >
            <p style="font-size : 16px" id="history_words">Mots</p>
          </div>

          <div class='col-xs-4' >
            <p style="font-size : 16px" id="history_success">Succès</p>
          </div>
        </div>
      </div>

      <div id="popover-body">

        {% for past_int in experiment.pastinteraction_set.all|dictsortreversed:"time_id" %}
        {% if past_int.role == "hearer"%}
        <div "line_meaning">
          <div class='row'>
              <div class='col-xs-3' >
                  <span ><img src="{% static 'ng/img/' %}kreyon_meaning{{ past_int.meaning }}.png" class="img-histo"></span>
              </div>
             <div class='col-xs-6' >
               <span class="w-histo">{{ past_int.word }}</span>
             </div>
             <div class='col-xs-3' >
             {% if past_int.bool_succ %}<span ><img class="img-responsive meaning img-histo" src="{% static 'ng/img/' %}feedback_success_temp.png"></span>{% endif %}
            </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    </div>

    <!-- Optional JavaScript -->
    {% include 'ng/sound.html' %}
    <script text="text/javascript">

    $(document).ready(function(){

    $('body').css('visibility', 'visible');

    //Home
    $('#home').click(function(){
      sound_click.play();
      $(this).prop('disable',true);
      $("html").addClass("wait");
      window.location.href='/';
    });

    $('.continue').click(function(){
      sound_click.play();
      $(this).prop('disable',true);
      $("html").addClass("wait");
      window.location.href='/';
    });

    //Display Game History
    $("#menu-h").popover({
      placement : 'bottom',
      html : true,
      content: function() {
        return $('#popover-body').html();
      },
      title: function() {
        return $('#popover-heading').html();
      },
    });

    //Tooltips

    var lang = $('html').attr('lang');

      // $('.div1').tooltip({
      //   title : current_lang.results_1,
      //   placement : "left auto",
      //   container:"#r1",
      //   trigger: "hover focus",
      // });
      //
      // $('.div2').tooltip({
      //   title : current_lang.results_2,
      //   placement : "left auto",
      //   html : true,
      //   container:"#r2",
      //   trigger: "hover focus",
 {% include 'ng/tooltips.js' %}
    //$('.div1').tooltip('show');
    //$('.div2').tooltip('show');

    //$('.castom_input_file , .castom_input').click(function(){
      //$('.div1').tooltip('toggle');
      //$('.div2').tooltip('toggle');
    //});

    });
    </script>

  </body>
</html>
