{% load static %}
		<section id="sidebar">

			{% if role == "hearer"%}
			<img id="img_people_talking" class="img_people" src="{% static 'ng/img/' %}hearer_rep2.png"><p id="hearer_header_text"></p>
			{% elif role == "speaker"%}
			<img id="img_people_talking" class="img_people" src="{% static 'ng/img/' %}speaker_rep2.png"><p id="speaker_header_text"></p>
			{% elif context == "skipped"%}
			<img id="img_people_talking" class="img_people" src="{% static 'ng/img/' %}skipped_rep2.png"><p id="skipped_text"></p>
			{% else %}
			<img id="img_home_others" src="{% static 'ng/img/' %}others.png"><p id="home_others"></p>
			<hr>
			<img id="img_home_you" src="{% static 'ng/img/' %}speaker_pic_speaker.png"><p id="home_you"></p>

			{% endif %}

		</section>
