{% load static %}
<!doctype html>
<html lang={{userNG.lang}}>

  <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'ng/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>

	<!--CSS-->
	<link type="text/css" rel="stylesheet" href="{% static 'ng/ng.css' %}"/>

	<!--JQuery-->
  <!--<script src="{% static 'ng/jquery-3.2.1.min.js' %}"></script>-->
	<script src="{% static 'ng/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'ng/bootstrap.min.js' %}"></script>
  	<script src="{% static 'ng/popper.min.js' %}"></script>
  <script src="{% static 'ng/change_lang.js' %}"></script>
  <script src="{% static 'ng/js.cookie.js' %}"></script>
  <script>
		var mode = "{{context}}"; //Valeurs possibles : "end" et "story"

	</script>

	<title id="window_title">Naming Game</title>

 {% include "ng/matomo.html" %}
  </head>



  <body>

	<div class="row">
		<div class="menu">
				<!-- Ajouter les liens pour rendre fonctionnel -->
			<span class="glyphicon glyphicon-volume-off icon" id="sound-off"></span>
			<span class="glyphicon glyphicon-volume-up icon" id="sound-on"></span>
			<span class="glyphicon glyphicon-home icon" id="home"></span>
		</div>
	</div>

	<div class="row">
		<!--Titres-->
		<h1 class="pagetitle story" id="story_pagetitle"> Histoire </h1>
		<h2 class="pagetitle end" id="page_title_end"> <span id="end_pagetitle">Félicitations</span> !</h2>
	</div>

	<div class="row">
		<div class="col-lg-1"></div>
		<!--Partie centrale-->
		<div class="col-lg-10">
			<div class="row bubble ctop">
				<!--Consignes Etape 1-->
				<p class="c1" id="c1_1"> Vous avez été enlevé par des Extraterrestres !</p>
				<p class="c1" id="c1_2"> Vous voilà enfermé seul dans une pièce de leur vaisseau. Dans les pièces d'à côté se trouvent <span class="important">4 autres individus</span> que vos ravisseurs ont également enlevés aux quatre coins de la galaxie.</p>
				<!--Consignes Etape 2-->
				<p class="c2" id="c2_1"> Pour ce faire, vous ne pourrez parler que <span class="important">deux par deux</span> grâce à une <span class="important">radio</span>, <span class="important">sans savoir lequel de vos camarades d'infortune est à l'autre bout</span>.</p>
				<p class="c2" id="c2_2"> L'un de vous proposera un mot et l'autre devra deviner l'objet auquel il fait référence.</p>
				<p class="c2"  id="c2_3"> Parfois vous proposerez un mot, parfois vous devinerez l'objet et parfois encore vous ne ferez pas partie de la conversation et ne saurez pas ce qui s'y est dit.</p>

				<!--Bulle Fin-->
				<p class="fin" id="text_end"> Après avoir réussi à vous comprendre, vous mettez au point un plan d'évasion spectaculaire. Vos ravisseurs ne voient rien venir avant qu'il ne soit trop tard. Vous leur volez un vaisseau qu'un de vos camarades pilote pour vous ramener tous paisiblement chez vous.</p>
				<!--Bulle Score-->
				<p class="score" id="score_text" style= "margin-top:45px"> <span id="text_score">Votre score est de</span> {{score}}.</p>
			</div>

			<div class="row" id="picture">

				<!--Image d'illustration Histoire : A changer
				adresse : https://cdn.pixabay.com/photo/2018/02/17/18/24/a-journey-of-discovery-3160528_960_720.jpg" -->
				<img src="{% static 'ng/img/img_illustration_temp.jpg' %}" id="illustration">
			</div>

			<div class="row" id="picture2">
				<div class="col-xs-3 visible-md visible-lg"></div>

				<div class="col-xs-6">
					<!--Insérer Tableaux Fin (Tuto et Normal)-->
					<table id="tab">
						<tr>
              <td style="width:15%;background-color : rgba(0,0,0,0.8);">
                <p id="col_1" class="label1" style= "font-size : 25px;text-align : center;">Objets</p>
              </td>
              {% for m in m_list %}
              <td {% if experiment.max_interaction == 10 %}class="tuto col-xs-2"{% else %}class="jeu-normal col-xs-2"{% endif %} style="background-color : rgba(0,0,0,0.8);" id="1.{{m}}">
                <img src="{% static 'ng/img/' %}kreyon_meaning{{m}}.png" class="meaning">
              </td>
              {% endfor %}
            </tr>

            <tr>
              <td style="width:15%;background-color : rgba(0,0,0,0.8);">
                <p id="col_2" class="label1" style= "font-size : 25px;text-align : center;">Mots Préférés</p>
              </td>
              {% for w in w_list1 %}
              <td {% if experiment.max_interaction == 10 %}class="tuto col-xs-2"{% else %}class="jeu-normal col-xs-2"{% endif %} id="2.{{w}}">{{w}}</td>
              {% endfor %}
						</tr>

            <tr>
              <td style="width:15%;background-color : rgba(0,0,0,0.8);">
                <p id="col_3" class="label1" style= "font-size : 25px;text-align : center;">Seconds mots préférés</p>
              </td>
              {% for w in w_list2 %}
              <td {% if experiment.max_interaction == 10 %}class="tuto col-xs-2"{% else %}class="jeu-normal col-xs-2"{% endif %} id="3.{{w}}">{{w}}</td>
              {% endfor %}
						</tr>
					</table>
				</div>


			<div class="col-xs-3 visible-md visible-lg"></div>

			</div>

			<div class="row bubble cbot" id="cbot">
				<!--Consignes Etape 1-->
				<p class="c1" id="c1_3"><span class="important">Aucun de vous ne parle la même langue</span> mais vous voulez tous vous échapper pour pouvoir rentrer chez vous.</p>
				<!--Consignes Etape 2-->
				<p class="c2" id="c2_4"> Mais attention, vous n'avez à vous tous qu'un <span class="important">nombre limité de conversations</span> pour réussir !</p>

			</div>
		</div>
		<div class="col-lg-1"></div>
	</div>

	<div class="row" id="navig">
		<!--Boutons Navigation-->
		<button type="button" class="btn"  id="prev"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<button type="button" class="btn"  id="next"><span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
      	<!--Boutons Navigation-->
  	<div class="row">
	     <button type="button" class="btn continue" id="continue" style="margin-top : 30px; width:20%">Continuer</button>
    </div>

<!-- Modal -->
 	<div class="modal fade" id="myModal" role="dialog">
   		<div class="modal-dialog">

     		 <!-- Modal content-->
      			<div class="modal-content">
       				 <div class="modal-header">
          				<h4 class="modal_title" style="color:black; text-align:center; margin:auto; font-size:35px;" id="modal_title">Êtes-vous sûr.e ?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
        			</div>
        			<div class="modal-body">
          				<p style="font-size:20px;" id="modal_body">Si vous quittez la partie en cours, celle-ci ne sera pas sauvegardée et vos données ne pourront pas être utilisées. Voulez-vous toujours quitter ?</p>
        			</div>
        			<div class="modal-footer">
					<a  href="/" type="button" class="btn btn-modal" id="btn_yes"><p>Oui, quitter la partie</p></a>
          				<button type="button" class="btn btn-modal" id="btn_no" data-dismiss="modal"><p>Non, continuer la partie</p></button>
        			</div>
      			</div>

   	 	</div>
  	</div>


    <!-- Optional JavaScript -->
  <script text="text/javascript">

  $(document).ready(function(){

    $('body').css('visibility', 'visible');

    var sound_click = document.createElement('audio');
  	var music = document.createElement('audio');

    if (typeof Cookies.get('NamingGameSound') === 'undefined'){
  	    Cookies.set('NamingGameSound', true);
  	    sound_click.setAttribute('src', "{% static 'ng/sounds/60945__erh__click.wav' %}");
  	    music.setAttribute('src', "{% static 'ng/sounds/263479__orangefreesounds__dreamy-melodic-synth-loop.wav' %}");

  	 $('#sound-on').css('display','none');
  	 $('#sound-off').css('display','inline');
    } else if (Cookies.get('NamingGameSound')) {
  	   sound_click.setAttribute('src', "{% static 'ng/sounds/60945__erh__click.wav' %}");
  	   music.setAttribute('src', "{% static 'ng/sounds/263479__orangefreesounds__dreamy-melodic-synth-loop.wav' %}");

  	 $('#sound-on').css('display','none');
  	 $('#sound-off').css('display','inline');
    } else {
      sound_click.setAttribute('src', "{% static 'ng/sounds/silence.wav' %}");
      music.setAttribute('src', "{% static 'ng/sounds/silence.wav' %}");

      $('#sound-off').css('display','none');
      $('#sound-on').css('display','inline');
    }

    //Sound
    $('#sound-off').click(function(){
      Cookies.set('NamingGameSound', false);
      sound_click.setAttribute('src', "{% static 'ng/sounds/silence.wav' %}");
      music.setAttribute('src', "{% static 'ng/sounds/silence.wav' %}");
     $('#sound-off').css('display','none');
     $('#sound-on').css('display','inline');
    });
    $('#sound-on').click(function(){
      Cookies.set('NamingGameSound', true);
      sound_click.setAttribute('src', "{% static 'ng/sounds/60945__erh__click.wav' %}");
      music.setAttribute('src', "{% static 'ng/sounds/263479__orangefreesounds__dreamy-melodic-synth-loop.wav' %}");
      sound_click.play();
     $('#sound-on').css('display','none');
     $('#sound-off').css('display','inline');
    });
    //Home
    $('#home').click(function(){
    	sound_click.play();
    	$("#myModal").modal({
    		keyboard : true,
    	});
    });

    $('.continue').click(function(){
  		if ("{{context}}"=="story"){
  		sound_click.play();
  		if($('.c1').css('display')=='block'){
  			$('.c2').css('display', 'block');
  			$('.c1').css('display', 'none');
  		} else {
  			/*window.location.href = "game_tutorial";*/
  			$(this).prop('disable',true);
      			$("html").addClass("wait");
  					window.location.href='/new_experiment/basic';
  			}
  		} else if ("{{context}}"=="end") {
  			sound_click.play();
        music.play();
  			if($('#text_end').css('display')=='block'){
  				$('#score_text').css('display', 'block');
  				$('#picture').css('display', 'none');
  				$('#picture2').css('display', 'block');
  				$('#text_end').css('display', 'none');
  			} else {
  				/*window.location.href = "game_tutorial";*/
  				$(this).prop('disable',true);
  	    			$("html").addClass("wait");
  						window.location.href='/';
  				}
  		}
  	});

  });
  </script>
  <script type="text/javascript" src="{% static 'ng/story.js' %}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
