<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Conceptizer</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'ng/style.css' %}" />
	<!--<link rel="stylesheet" type="text/css" href="style2.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<!-- To change font go https://fonts.google.com/ and choose whatever you like! -->
  </head>
  <body>
  	<div id="maxsize">
	<div id="pagewrap">
		<header>
			<div id="speaker_hearer_block_inner">
			  	<!--<h2 id="speaker_hearer_h2"><img src="img/kreyon2hearerC.png"><div id="speaker_hearer_text">You are the HEARER!</div></h2>-->
			  	<h2 id="speaker_hearer_h2"><img src="img/kreyon2speakerC.png"><div id="speaker_hearer_text">You are the SPEAKER!</div></h2>
			</div>
		</header>
			
		<section id="content">
			<div id="language_progress">
		  		<span id="past_interactions">Past interactions</span>
			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/hearer_pic.png"></span>
			  		<span class="meaning_chosen"><img src="img/kreyon_meaning1_small.png"></span>
			  		<span class="word_chosen">ramador</span>
			  		<span class="meaning_chosen_check"><img src="img/check.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/speaker_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/hearer_pic.png"></span>
			  		<span class="meaning_chosen"><img src="img/kreyon_meaning1_small.png"></span>
			  		<span class="word_chosen">ramador</span>
			  		<span class="meaning_chosen_check"><img src="img/check.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/speaker_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/speaker_pic.png"></span>
			  		<span class="meaning_chosen"><img src="img/kreyon_meaning1_small.png"></span>
			  		<span class="word_chosen">ramador</span>
			  		<span class="meaning_chosen_check"><img src="img/check.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/hearer_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/hearer_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/speaker_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/speaker_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/hearer_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/speaker_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/hearer_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>

			  	<div "line_meaning">
			  		<span class="speaker_heare_img_lp"><img src="img/speaker_pic.png"></span>
				  	<span class="meaning_chosen"><img src="img/kreyon_meaning2_small.png"></span>
				  	<span class="word_chosen">kreyon</span>
				  	<span class="meaning_chosen_check"><img src="img/cross.png"></span>
			  	</div>
		  </div>
		</section>
		
		<section id="middle">
			<div id="choose">
			  	<div id="choose_inner">
					<!--<div id="word_hearer">	
					  	<div class="question_text">
						  	You heard this word:
						</div>
						<div id="word_inner">
							<div class="word_text" id="word5"> karabuk </div>
						</div>
					</div>-->
					<div id="meaning">
						<div class="question_text">
						  	What do you want to talk about? <!-- What do you think the speaker talked about? -->
						</div>
						<div id="meaning_inner">
							<img class="meaning_img" src="img/kreyon_meaning1.png">
							<img class="meaning_img" src="img/kreyon_meaning2.png">
							<img class="meaning_img" src="img/kreyon_meaning3.png">
							<img class="meaning_img" src="img/kreyon_meaning4.png">
							<img class="meaning_img" src="img/kreyon_meaning5.png">
						</div>
					  </div>
					  <div id="word_speaker">
						<div class="question_text">
					  		Using which word?
					  	</div>
					  	<div id="word_inner">
						  	<div class="word_text" id="word1"> ramador </div>
						  	<div class="word_text" id="word2"> garbadi </div>
						  	<div class="word_text" id="word3"> kreyon </div>
							<div class="word_text" id="word4"> vornak </div>
							<div class="word_text" id="word5"> karabuk </div>
							<div class="word_text" id="word6"> mizoram </div>
						</div>
					</div>
					<div id="button_next_div">
					  	<button id="button_next">Next</button>
					</div>
				</div>
			</div>
		</section>

		<section id="sidebar">
			<p><img id="img_people_talking" src="img/kreyon1speaker.png"></p>
		</section>
		
		<footer>
			<h4>Footer</h4>
			<p>Footer text</p>
		</footer>
	</div>
	</div>
  </body>
</html>
